---
layout: layouts/default.njk
title: First Page
---

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card text-center" style="width: 100%; max-width: 800px; height: auto;">
    <div class="card-header">
      <h1 class="mb-1">Nathaniel Mais</h1>
      <p class="mb-1">Full-Stack Software Developer</p>
    </div>

    <div class="row mt-3">
      <!-- Education Column -->
      <div class="col-md-6 text-start">
        <h4 class="fw-semibold">Education</h4>
        <hr>
         <ul>
          <li>
          <strong>Durham College</strong>
          <br>
          Computer Programming & Analysis Advanced Diploma Graduate
          <br>
          Sept 2022 - April 2025
          </li>
        </ul>
      </div>

      <!-- Interests Column -->
      <div class="col-md-6 text-start">
        <h4 class="fw-semibold">Interests</h4>
        <hr>
        <ul>
          <li>Day Trading</li>
          <li>Video Games</li>
          <li>Software Development</li>
        </ul>
        <!-- Experience Section -->
        <h4 class="fw-semibold">Professional Experience</h4>
        <hr>
        <ul>
          <li>
          <strong>Durham District School Board</strong>
          <br>
          Software Development Intern
          <br>
          Apr 2025 - May 2025
          </li>
        </ul>
      </div>
    </div>

    

    <div class="card-body">
      <h5 class="card-title">About Me</h5>
      <p class="card-text">Hello, and thanks for visiting my page! Here's a quick summary about me.</p>
      <p class="card-text"> I'm a passionate and experienced software developer that loves creating meaningful valuable software that can truly help people.
        This passion led me to contribute to developing a report card signing API used by teachers and principals across the Durham District School Board. It also led me to build
        an algorithmic trading backtester and bot that identifies trends in the financial markets using historical data and optimizes entry and exit points to maximize long-term profitability.
        These are some of the experiences that allowed me to learn that I thrive in environments where creativity and problem solving matter most .
      </p>
      
    </div>

    <div class="card-footer text-light">
      
    </div>
  </div>
</div>
