---
layout: layouts/default.njk
title: Portfolio Page
---

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="container">
    <div class="row justify-content-center g-4">

      <!-- Card 1 -->
      <div class="col-md-6 col-lg-4">
        <a href="/trade" class="text-decoration-none text-light">
          <div class="card h-100 bg-dark border-light">
            <img src="/src/image/pnl_graph.png" class="card-img-top" alt="Trading Bot">
            <div class="card-body">
              <h5 class="card-title">Open Range Breakout Bot/Backtester</h5>
              <p class="card-text">A trading bot capable of backtesting historical data in the financial markets as well as enter trades on its own in real time.</p>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 2 -->
    
      <div class="col-md-6 col-lg-4">
        <a href="/jobsite" class="text-decoration-none text-light">
          <div class="card h-100 bg-dark border-light">
            <img src="/src/image/jobs_page.png" class="card-img-top" alt="Community Center Portal">
            <div class="card-body">
              <h5 class="card-title">Get Hired</h5>
              <p class="card-text">A website dedicated for people to apply for jobs.</p>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 3 -->
      <div class="col-md-6 col-lg-4">
        <a href="/reportcard" class="text-decoration-none text-light">
          <div class="card h-100 bg-dark border-light">
            <img src="/src/image/elementary_process.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Report Card Signing API</h5>
              <p class="card-text">An API made for pricnipals to automate the report card signing process</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
